body {

    font-family: 'Inter', sans-serif;

    background-color: #eef2f3;

    display: flex;

    flex-direction: column;

    align-items: center;

    min-height: 100vh;

    margin: 0;

    padding: 20px;

}

/* Tarjeta de Login y Registro */

.login-container, .form-card {

    background: white;

    padding: 2rem;

    border-radius: 12px;

    box-shadow: 0 10px 25px rgba(0,0,0,0.1);

    width: 100%;

    max-width: 400px;

    margin-top: 50px;

}

h1, h2 { color: #1a2a6c; text-align: center; }

form { display: flex; flex-direction: column; }

label { margin-bottom: 5px; font-weight: 600; color: #444; }

input {

    padding: 12px;

    margin-bottom: 20px;

    border: 1px solid #ddd;

    border-radius: 6px;

    outline: none;

}

input:focus { border-color: #1a2a6c; }

button {

    background: #1a2a6c;

    color: white;

    padding: 12px;

    border: none;

    border-radius: 6px;

    cursor: pointer;

    font-weight: bold;

    transition: 0.3s;

}

button:hover { background: #b21f1f; }

/* Tablas del Panel */

table {

    width: 100%;

    max-width: 800px;

    border-collapse: collapse;

    background: white;

    border-radius: 8px;

    overflow: hidden;

    margin: 20px 0;

}

th { background: #1a2a6c; color: white; padding: 15px; }

td { padding: 15px; border-bottom: 1px solid #eee; text-align: center; }

.btn-reserva {

    background: #27ae60;

    color: white;

    padding: 5px 10px;

    text-decoration: none;

    border-radius: 4px;

    font-size: 0.9rem;

}